body{
    margin: 0;
    padding: 0;
}


.back-video{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
    z-index: -1;
    object-fit: cover;
   
}

.container{
    width: 100%;
    height: 100vh;
    background-image: rgba(0,0,0,0.4);
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{ 
    background: transparent;
    width: 80%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    width: 80px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
      text-decoration: none;
      color: white;
      font-size: 18px
}

.content h1{
      margin:0;
      padding:0;
      font-size: 100px;
      color: #fff;
      font-weight: 600;
      text-align: center;
      
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 200px;
   
}
.content a:hover{
    cursor: pointer;
    background-color: #fff;
    color: black;
    border: 2px solid black;
}

nav ul li a:hover{
    text-decoration: underline;
}