.title{
    margin:0;
    padding: 0 0 10px;
    text-align: center;
    font-style: 22px;
    height: 40px;
}
.title:hover{
    font-size: large;
    font-style: italic;
    color: #fff;
    text-decoration: underline;
}

.content{
    width: 300px;
    height: 450px;
    background: whitesmoke;
    color:black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50% ,-50%);
    box-sizing: border-box;
    padding: 0px 20px;
    text-align: center;
    border-radius: 15%;
    background-image: linear-gradient(#ee0979 ,#ff6a00);
    flex: content;
    top: 50%;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    border-right: 5px solid black;
    
    
}
body{
    height: 100vh;
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 10px;
}
.content input{
    border: none;
    outline: none;
    height: 20px;
    width: 230px;
    background: transparent;
    color: black;
    font-size: 15px;
    text-align: center;
    border-bottom: 1px solid black;

    

}
.content input:hover{
    border: 1px solid #fff;
    border-radius: 20px;
    
}
.button input{
    width: 80px;
    height: 20px;
    position:absolute;
    left: 35%;
    text-align: center;
    background-color: transparent;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.button input:hover{
    color: #fff;
    cursor: pointer;

}


