.Login{
   width: 330px;
   height: 450px;
   background: transparent;
   color:black;
   top: 50%;
   left: 50%;
   position: absolute;
   transform: translate(-50% ,-50%);
   box-sizing: border-box;
   padding: 90px 20px;

    }
body{
    height: 100vh;
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    
}
.back-video{  
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.user{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 1%;
    left: calc(50% - 50px);



}
h1{
    margin:0;
    padding: 0 0 20px;
    text-align: center;
    font-style: 22px;
}
.Login p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.Login input{
    width: 100%;
    margin-bottom: 25px;

}
.Login input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font: 16px;
}
.Login input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: transparent;
    color: black;
    font-size: 18px;
    border-radius: 20px;
}
.sub:hover{

    cursor: pointer;
    height: 40px;
    background-color: #ffff;
    border-radius: 20px;

}
.Login a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
}
.Login a:hover{
    color: #ffd1ff;
}


